body {
	margin: 0;
	padding: 0;
	background: #eee;
	position: relative;
	height: 100%;
	width: 100%;
    cursor: default;
}

.canvas {
	background: #fff;
	box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.75);
	position: absolute;
	left: 50%;
	top: 50vh;
	transform: translate(-50%, -50%);
	cursor: n-resize;
}