/*FONTS*/

@font-face {
	font-family: 'Brush';
	font-style: normal;
	font-weight: normal;
	src: local('Brush'), url('Brush.woff') format('woff');
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
	padding-top: 1em;
	padding-bottom: 1.5em;
	margin: 0;
}

h2 {
	font-size: 1.3em;
	padding: 0.5em 0;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

p {
	text-align: center;
	line-height: 0.8;
}

.title {
	text-align: center;
	color: #FF0000;
	font-size: 1.3em;
	font-weight: bold;
}

.medium-line-height {
	padding: 55px 0;
}

/*SECTIONS*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: linear-gradient(to bottom left, #10272f 0%, #2e1015 100%) no-repeat;
	font-family: 'K2D', sans-serif;
}

.container {
	min-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.titles {
	height: 30px;
	margin-bottom: 15px;
}

.single-title {
	display: block;
	box-sizing: border-box;
	width: 25%;
	float: left;
}

/*BLOCKS TIER 1*/

.blocks-tier-1, .blocks-tier-2 {
	display: table;
	width: 100%;
}

.block {
	height: 200px;
	width: calc( 25% - 30px );
	background: #eee;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	position: relative;
}

.block::before {
	content: '';
	position: absolute;
	height: 150px;
	width: 2px;
	border-left: 2px solid #FF0000;
	left: 50%;
	bottom: -150px;
}

.competitors {
	height: 42px;
	width: 114px;
	position: relative;
	margin: 25px auto;
}

.flag-container {
	height: 42px;
	width: 57px;
	box-sizing: border-box;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.75);
	background: #bcbcbc;
	position: absolute;
}

.flag-container:nth-child(1)::before {
	content: 'AUS';
	position: absolute;
	left: -50px;
	top: 10px;
	font-weight: bold;
	color: #FF0000;
}

.flag-container:nth-child(1)::after {
	content: 'V';
	position: absolute;
	font-family: Brush;
	font-size: 4em;
	right: -47px;
	top: -5px;
	font-weight: bold;
	color: #FF0000;
}

.flag-container:nth-child(2)::before {
	content: 'NZ';
	position: absolute;
	right: -50px;
	top: 10px;
	font-weight: bold;
	color: #FF0000;
}

.flag-container:nth-child(1) {
	left: -30px;
}

.flag-container:nth-child(2) {
	right: -30px;
}

.flag {
	height: 40px;
	width: 55px;
	background: url('img/flag.png') center/cover no-repeat;
}

.block:nth-child(2n) > .competitors > .flag-container:nth-child(1) > .flag {
	filter: grayscale(1);
}

.block:nth-child(2n+1) > .competitors > .flag-container:nth-child(2) > .flag {
	filter: grayscale(1);
}

.block:nth-child(2n) > .competitors > .flag-container:nth-child(1)::before {
	color: #aaa;
}

.block:nth-child(2n+1) > .competitors > .flag-container:nth-child(2)::before {
	color: #aaa;
}

/*BLOCKS TIER 2*/

.block-tier-2 {
	height: 200px;
	width: calc( 25% - 30px );
	background: #eee;
	float: left;
	margin: 0 15px;
	box-sizing: border-box;
	position: relative;
}

.block-tier-2::before {
	content: '';
	position: absolute;
	height: 75px;
	width: 2px;
	border-left: 2px solid #FF0000;
	left: 50%;
	bottom: -75px;
}

.block-tier-2:nth-child(2n+1)::after {
	content: '';
	position: absolute;
	height: 2px;
	border-bottom: 2px solid #FF0000;
	width: calc( 100% + 30px );
	bottom: -75px;
	left: 50%;
}

.block-tier-2 > .competitors > .flag-container:nth-child(1)::before,
.block-tier-3 > .competitors > .flag-container:nth-child(1)::before,
.block-tier-4 > .competitors > .flag-container:nth-child(1)::before {
	content: '- - -';
	position: absolute;
	left: -50px;
	top: 10px;
	font-weight: bold;
	color: #FF0000;
}

.block-tier-2 > .competitors > .flag-container:nth-child(2)::before,
.block-tier-3 > .competitors > .flag-container:nth-child(2)::before,
.block-tier-4 > .competitors > .flag-container:nth-child(2)::before {
	content: '- - -';
	position: absolute;
	right: -50px;
	top: 10px;
	font-weight: bold;
	color: #FF0000;
}

/*BLOCKS TIER 3*/

.blocks-tier-3 {
	width: 75%;
	display: table;
	margin: 0 auto;
}

.block-tier-3 {
	height: 200px;
	width: calc( (100% / 3) - 30px );
	background: #eee;
	float: left;
	margin: 150px 15px;
	box-sizing: border-box;
	position: relative;
}

.block-tier-3::before {
	content: '';
	height: 75px;
	width: 2px;
	border-left: 2px solid #FF0000;
	position: absolute;
	left: 50%;
	top: -75px;
}

.block-tier-3::after {
	content: '';
	height: 75px;
	width: 2px;
	border-left: 2px solid #FF0000;
	position: absolute;
	left: 50%;
	bottom: -75px;
}

.float-left {
	display: block;
	height: 200px;
	width: calc( 100% / 3 );
	float: left;
	margin-top: 225px;
	position: relative;
}

.float-left::before {
	content: '';
	height: 2px;
	width: 200%;
	border-bottom: 2px solid #FF0000;
	position: absolute;
	left: -50%;
	bottom: 20px;
}

/*BLOCKS TIER 4*/
.blocks-tier-4 {
	width: 25%;
	display: table;
	margin: 0 auto;
}

.block-tier-4 {
	height: 200px;
	width: 100%;
	background: #eee;
	float: left;
	position: relative;
	margin-bottom: 50px;
}

.block-tier-4::before {
	content: '';
	height: 75px;
	width: 2px;
	border-left: 2px solid #FF0000;
	position: absolute;
	left: 50%;
	top: -75px;
}

.blocks-tier-4 > h2 {
	padding: 50px;
}







/*MAX WIDTH 1400*/

@media (max-width: 1400px) {

	.flag-container {
		height: 32px;
		width: 47px;
		box-sizing: border-box;
		border-left: 3px solid #fff;
		border-bottom: 3px solid #fff;
		box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.75);
		background: #bcbcbc;
		position: absolute;
	}

	.flag-container:nth-child(1)::before {
		content: 'AUS';
		position: absolute;
		left: -40px;
		top: 5px;
		font-weight: bold;
		color: #FF0000;
	}

	.flag-container:nth-child(1)::after {
		content: 'V';
		position: absolute;
		font-family: Brush;
		font-size: 3em;
		right: -35px;
		top: -5px;
		font-weight: bold;
		color: #FF0000;
	}

	.flag-container:nth-child(2)::before {
		content: 'NZ';
		position: absolute;
		right: -30px;
		top: 5px;
		font-weight: bold;
		color: #FF0000;
	}

	.flag-container:nth-child(1) {
		left: -10px;
	}

	.flag-container:nth-child(2) {
		right: -10px;
	}

	.flag {
		height: 29px;
		width: 44px;
		background: url('img/flag.png') center/cover no-repeat;
	}

	p {
		font-size: 0.8em;
	}

	.block-tier-2 > .competitors > .flag-container:nth-child(1)::before,
	.block-tier-3 > .competitors > .flag-container:nth-child(1)::before,
	.block-tier-4 > .competitors > .flag-container:nth-child(1)::before {
		content: '- - -';
		position: absolute;
		left: -35px;
		top: 5px;
		font-weight: bold;
		color: #FF0000;
		font-size: 0.7em;
	}

	.block-tier-2 > .competitors > .flag-container:nth-child(2)::before,
	.block-tier-3 > .competitors > .flag-container:nth-child(2)::before,
	.block-tier-4 > .competitors > .flag-container:nth-child(2)::before {
		content: '- - -';
		position: absolute;
		right: -30px;
		top: 5px;
		font-weight: bold;
		color: #FF0000;
		font-size: 0.7em;
	}

}