<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ex NO.1 - Patryk Janas</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
</head>
<body>
	<section class="container">
		<h1>POOL LADDER</h1>
		<div class="titles">
			<span class="single-title title">POOL A</span>
			<span class="single-title title">POOL B</span>
			<span class="single-title title">POOL C</span>
			<span class="single-title title">POOL D</span>
		</div>

		<div class="blocks-tier-1">
			<div class="block" v-for="blocks in dataTab">
				<h2>{{ blocks.date }}</h2>
				<div class="competitors">
					<div class="flag-container">
						<div class="flag"></div>
					</div>
					<div class="flag-container">
						<div class="flag"></div>
					</div>
				</div>
				<span class="description">
					<p>{{ blocks.firstLine }}</p>
					<p>{{ blocks.secondLine }}</p>
				</span>
			</div>
		</div>

		<h2 class="title medium-line-height">QUATER FINALS</h2>

		<div class="blocks-tier-2">
			<div class="block-tier-2" v-for="blocks in dataQuarterTab">
				<h2>{{ blocks.date }}</h2>
				<div class="competitors">
					<div class="flag-container">
					</div>
					<div class="flag-container">
					</div>
				</div>
				<span class="description">
					<p>{{ blocks.firstLine }}</p>
					<p>{{ blocks.secondLine }}</p>
				</span>
			</div>
		</div>

		<div class="blocks-tier-3">
			<div class="block-tier-3">
				<h2>SAT 28 OCT</h2>
				<div class="competitors">
					<div class="flag-container">
					</div>
					<div class="flag-container">
					</div>
				</div>
				<span class="description">
					<p>Oli Search National Football Stadium,</p>
					<p>Port Moresby PNG, 3:00PM PGT</p>
				</span>
			</div>
			<h2 class="float-left title">SEMI FINAL</h2>
			<div class="block-tier-3">
				<h2>FRI 28 OCT</h2>
				<div class="competitors">
					<div class="flag-container">
					</div>
					<div class="flag-container">
					</div>
				</div>
				<span class="description">
					<p>Mt Smart Stadium, Auckland NZ,</p>
					<p>8:10PM NZDT</p>
				</span>
			</div>
		</div>

		<div class="blocks-tier-4">
			<div class="block-tier-4">
				<h2>SAT 28 OCT</h2>
				<div class="competitors">
					<div class="flag-container">
					</div>
					<div class="flag-container">
					</div>
				</div>
				<span class="description">
					<p>Oli Search National Football Stadium,</p>
					<p>Port Moresby PNG, 3:00PM PGT</p>
				</span>
			</div>
			<h2 class="title">FINAL</h2>
		</div>

	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
	<script src="scripts.js"></script>
</body>
</html>