@font-face {
	font-family: 'Brush';
	font-style: normal;
	font-weight: normal;
	src: local('Brush'), url('Brush.woff') format('woff');
}

body {
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	position: relative;
	height: 100vh;
	cursor: default;
}

.container {
	width: 90%;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box {
	height: 100%;
	width: calc(25% - 30px);
	margin: 0 15px;
	float: left;
	position: relative;
	overflow: hidden;
}

.box:nth-child(2n+1) {
	box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.5);
}

.box:nth-child(2n) {
	background: #E4042B;
}

.box-background {
	width: calc(100% - 15px);
	height: 80%;
	background: #121212;
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.box-background:nth-child(2n) {
	width: calc(100% - 17px);
	border: 1px solid #666;
}

.inscription {
	position: absolute;
	font-family: Brush;
	font-size: 8em;
	right: -20px;
	top: 3%;
	z-index: 100;
}

.box:nth-child(2n+1) > .inscription {
	color: #E4042B;
}

.box:nth-child(2n) > .inscription {
	color: #FFFFFF;
}

.title {
	padding: 100px 30px 0 30px;
	margin: 0;
	color: #fff;
	font-size: 2.5em;
	position: relative;
}

.title::before {
	content: 'MOST';
	position: absolute;
	left: 30px;
	top: 80px;
	color: #E4042B;
	font-size: 0.4em;
}

.paragraph-container {
	color: #fff;
	line-height: 0.8;
	padding-top: 25px; 
	margin-left: 30px;
}

p {
	position: relative;
}

p::before {
	content: '';
	height: 1px;
	width: 100%;
	border-bottom: 0.5px solid #666;
	position: absolute;
	left: 0;
	bottom: -10px;
}

p:last-child::before {
	border: none;
}

.lp {
	color: #E4042B;
}






/*MAX WIDTH 1366*/

@media only screen and (max-width: 1366px) {

	p {
		font-size: 0.7em;
	}

	p::before {
		content: '';
		height: 1px;
		width: 100%;
		border-bottom: 0.5px solid #666;
		position: absolute;
		left: 0;
		bottom: -5px;
	}

	.title {
		padding: 70px 30px 0 30px;
		font-size: 1.8em;
	}

	.title::before {
		top: 55px;
	}

	.inscription {
		font-size: 6.5em;
	}

	.container {
		height: 350px;
	}

}





/*MAX WIDTH 1024*/

@media only screen and (max-width: 1024px) {

	p {
		font-size: 0.55em;
	}

	p::before {
		content: '';
		height: 1px;
		width: 100%;
		border-bottom: 0.5px solid #666;
		position: absolute;
		left: 0;
		bottom: -5px;
	}

	.title {
		padding: 60px 20px 0 20px;
		font-size: 1.3em;
	}

	.title::before {
		top: 50px;
		left: 20px;
	}

	.inscription {
		font-size: 4.5em;
		right: -10px;
	}

	.container {
		height: 280px;
	}

	.paragraph-container {
		margin-left: 20px;
	}

}




/*MOBILE VERSION*/

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

	.container {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		cursor: grab;
	}

	.box {
		height: 100%;
		width: 100%;
		float: left;
		position: absolute;
		overflow: none;
		margin: 0;
	}

	.box:nth-child(1) {
		right: 0;
	}

	.box:nth-child(2) {
		right: -100%;
	}

	.box:nth-child(3) {
		right: -200%;
	}

	.box:nth-child(4) {
		right: -300%;
	}

	.box:nth-child(2n+1) {
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
	}

	.box:nth-child(2n) {
		background: #E4042B;
	}

	.box-background {
		width: calc(100% - 30px);
		height: 85%;
		background: #121212;
		position: absolute;
		bottom: 30px;
		left: 30px;
	}

	.box-background:nth-child(2n) {
		width: calc(100% - 17px);
		border: 1px solid #666;
	}

	.inscription {
		position: absolute;
		font-family: Brush;
		font-size: 16em;
		right: -20px;
		top: 5%;
		z-index: 100;
	}

	.box:nth-child(2n+1) > .inscription {
		color: #E4042B;
	}

	.box:nth-child(2n) > .inscription {
		color: #FFFFFF;
	}

	.title {
		padding: 150px 30px 0 80px;
		margin: 0;
		color: #fff;
		font-size: 7em;
		position: relative;
	}

	.title::before {
		content: 'MOST';
		position: absolute;
		left: 80px;
		top: 110px;
		color: #E4042B;
		font-size: 0.4em;
	}

	.paragraph-container {
		color: #fff;
		font-size: 3.5em;
		line-height: 2;
		padding-top: 50px; 
		margin-left: 80px;
	}

	p {
		position: relative;
	}

	p::before {
		content: '';
		height: 1px;
		width: 100%;
		border-bottom: 2px solid #666;
		position: absolute;
		left: 0;
		bottom: -10px;
	}

	p:last-child::before {
		border: none;
	}

	.lp {
		color: #E4042B;
}

}